/*
#151515 - dark (black)
#f1f2f6 - light-dark (grey)
#ced6e0 - light (white)

#5352ed - hightlight (green)
#0099cc - highlight mouse hover (blue)
*/

.theme-day {
    background-color: #fff;
    color: #000;
}
.theme-day header {
  background-color: #fff;
}
.theme-day header a {
    color: #000;
}
.theme-day #input {
    background-color: #746f6f;
    color: #000;
}

/* input module */
.theme-day #input input,
.theme-day #input select {
    background-color: #f1f2f6;
    color: #ced6e0;
}
.theme-day #input input:focus,
.theme-day #input select:focus {
    background-color: #2b353e;
}
.theme-day #input .submitBtn {
  background-color: #292828 !important;
}
.theme-day #input input[type="submit"]{ background-color: #5352ed; }

/* categories title */

/* Banner */
.theme-day .banner {
  background-color: #4f4f4f;
}
.theme-day .banner .options select {
  background-color: #4f4f4f;
}

/* Modal */
.theme-day #login-dropdown-list {
  background-color: #aaa;
}
.theme-day #login-dropdown-list a {
  color: #000 !important;
}
.theme-day #login-dropdown-list .login-button {
  background-color: #565656 !important;
}

/* category title */

.theme-day li.category{
    color: #c2c2c2;
    background: none;
}
.theme-day li {
    background-color: #eee;
    border-radius: 10px;
}
.theme-day li .description {
    color: #9b9b9b;
}

/* links list */
.theme-day li a{ color: #000; }
.theme-day li a:hover{ color: #0099cc; }
.theme-day li .btn-copy-link{ background-color: #ced6e0; }
.theme-day li .btn-copy-link:hover{ background-color: #5352ed; }
.theme-day li .btn-copy-link:active{ background-color: #0099cc; }
.theme-day li .delete{ color: #ced6e0; }
.theme-day li .owner{ color: #bebebe; }
