/*
#151515 - dark (black)
#272931 - light-dark (grey)
#ecf0f1 - light (white)

#27ae60 - hightlight (green)
#0099cc - highlight mouse hover (blue)
*/

.theme-night{
    /* background-color: rgba(30,41,49,0.3); */
}
.theme-night header, .theme-night #input{
    background-color: #040443;
    color: #fff;
}

/* input module */
.theme-night #input input, .theme-night #input select{
    background-color: #272931;
    color: #ecf0f1;
}
.theme-night #input input:focus, .theme-night #input select:focus{
    background-color: #2b353e;
}
.theme-night #input input[type="submit"]{ background-color: #27ae60; }

/* categories title */
.theme-night li.category{
    background: transparent;
    color: #DBD6FF;
}

.theme-night li {
  background-color: #221969;
  border-radius: 8px;
}

/* links list */
.theme-night li { border-bottom: #272931 dashed 1px; }
.theme-night li a {
  color: #fff;
  font-weight: 500;
}
.theme-night li a:hover { color: #fa5d82; }
.theme-night li .btn-copy-link { background-color: #58afbd; }
.theme-night li .btn-copy-link:hover { background-color: #9dfac4; }
.theme-night li .btn-copy-link:active { background-color: #0099cc; }
.theme-night li .delete { color: #ecf0f1; }

.theme-night li .description .url {
  color: #8E8EFF;
}
.theme-night li .description .owner {
  color: #B4B4B4;
}
