<template name="appTheme">
    <select id="app-theme">
        <option value="day" selected="{{#if day}}selected{{/if}}">day</option>
        <option value="night" selected="{{#if night}}selected{{/if}}">night</option>
        <option value="maraki" selected="{{#if maraki}}selected{{/if}}">Μαράκι</option>
    </select>
</template>
