<template name="app">
    <div id="container" class="{{theme}}">
        <header>
            <h1>
                <a href="{{pathFor 'index.user' username='bidetaggle'}}" title="Interesting links">
                    Interesting links
                </a>
            </h1>

            <nav>
                {{#if currentUser}}
                    <a
                    href="{{pathFor 'index.user' username=currentUser.username}}"
                    title="My links"
                    class="{{activeNavLink currentUser.username}}">
                        My links
                    </a>
                {{/if}}
                <a
                href="{{pathFor 'users-list'}}"
                title="users list"
                class="{{activeNavLink}}">
                    Users
                </a>
            </nav>
        </header>

        {{> Template.dynamic template=main}}

        <div class="banner">
            {{#if inputAvailable}}
                <div class="options" id="addLink">
                    <i class="fa fa-plus-circle" id="addLink"></i>
                </div>
                <div id="showLink">
                    {{> input}}
                </div>
            {{/if}}
            <div class="options user">
                {{> loginButtons}}
            </div>
            <div class="options">
                {{> appTheme}}
            </div>
        </div>
    </div>
</template>
