<template name="index">
    <h2>
        <i>{{username}}</i>'s links
    </h2>

    {{#if categories}}
        <ul class="main">
            {{#each categories}}
                {{> category}}
            {{/each}}
        </ul>
    {{else}}
        <div id="noLinkMessage">
            {{#if is_owner}}
                You don't have any link yet :(
            {{else}}
                This user doesn't have any link :(
            {{/if}}
        </div>
    {{/if}}
</template>
