<template name="input">
    <div id="input">
        <form class="new-link" autocomplete="off">
            <div class="close" id="addLink">
                <i class="fa fa-times" id="addLink"></i>
            </div>
            {{#if categoriesNumber}}
                <h2>
                    {{#if isYourLinksList}}
                        Add link
                    {{else}}
                        Suggest a link
                    {{/if}}
                </h2>
                <input type="text" name="link" placeholder="http(s)://..." />
                <input type="text" name="description" placeholder="description" />
                <select name="category">
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                <input class="submitBtn" type="submit" value="Add" />
            {{else}}
                Please add at least 1 category to be able to add a new link.
            {{/if}}
        </form>
        {{#if isYourLinksList}}
            <form class="new-category" autocomplete="off">
                <h2>Add category</h2>
                <span>
                    <input type="text" name="name" placeholder="category name">
                </span>
                <input class="submitBtn" type="submit" value="Add" />
            </form>
        {{/if}}
    </div>
</template>
