<template name="usersList">
    <ul>
        {{#each users}}
            <li>
                <a href="{{pathFor 'index.user' username=username}}">
                    {{username}}
                </a>
            </li>
        {{/each}}
    </ul>
</template>
